.contenedor{
    margin: 16px;
}
.titulo{
    font-family: telefonicaRegular;
    margin: 15px 20px;
    color: #2a2a3e;
    font-size: 16px;
}
.imagen,.imagen2{
    background: transparent url('../../../assets/img/Imagen1.png') no-repeat 10px 10px/40px;
    width: 100%;
    height: 112px;
    padding-left: 60px;
    font-family: telefonicaRegular;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding-top: 10px;
}
.imagen2{
    background: transparent url('../../../assets/img/Imagen2.png') no-repeat 10px 10px/40px;
    position: relative;
}
.texto p {
    margin: 5px;
}
.texto p:first-child+p, .texto p:last-child{
    color:#757575;
}
.texto p:last-child{
   font-family: telefonicaBold;
}
.mensaje{
    font-family: telefonicaRegular;
    color: #757575;
    font-size: 14px;
    margin: 20px 0px;
    text-align: left;
}
button{
    border-radius: 14px;
    background-color: #5bc500;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 40%;
}
