.titulo {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin: 0 16px;
    font-family: telefonicaRegular;
    font-size: 18px;
    color: #757575;
}

.titulo span:last-child{
    float: right;
    color: #2a2a3c;
    font-weight: bold;
}
.imagen2{
    background: transparent url('../../../assets/img/Imagen2.png') no-repeat 10px 10px/40px;
    position: relative;
    width: 100%;
    height: 70px;
    padding: 20px 20px 0px 60px;
    font-family: telefonicaRegular;
    border-radius: 6px;
    box-sizing: border-box;
}
.texto{
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.imagen2 div:last-child{
    float: right;
    color: #757575;
}
.imagen2 div:last-child span{
    font-size: 12px;
}
.divider{
    height: 14px;
    background-color: #ddd;
}
.titulo2{
    font-family: telefonicaRegular;
    margin: 15px 20px;
    color: #2a2a3c;
    font-size: 16px;
    font-weight: bold;
}
.imagen3{
    background: transparent url('../../../assets/img/Imagen3.png') no-repeat 10px 10px/40px;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 20px 20px 0px 60px;
    font-family: telefonicaRegular;
    box-sizing: border-box;
}
.imagen4{
    background: transparent url('../../../assets/img/Imagen4.png') no-repeat 10px 0px/40px;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px 20px 0px 60px;
    font-family: telefonicaRegular;
    box-sizing: border-box;
}
.imagen5{
    background: transparent url('../../../assets/img/Imagen5.png') no-repeat 10px 0px/40px;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px 20px 0px 60px;
    font-family: telefonicaRegular;
    box-sizing: border-box;
}
.line{
    height: 1.5px;
    background-color: #ddd;
    margin: 16px;
}
.redes{
    float: left;
    font-size: 14px;
    font-weight: bold;
    font-family: telefonicaRegular;
    margin: 0px 16px;
    padding-bottom: 20px;
}
.redes_sociales {
   float: right;
}
.imagen {
    width: 25px;
    height: 25px;
    float: left;
    margin: 0 15px;
}
.imagen.whatsapp{
    background: transparent url('../../../assets/img/Imagen7.png') no-repeat center/25px;
}
.imagen.twitter{
    background: transparent url('../../../assets/img/Imagen8.png') no-repeat center/25px;
}
.imagen.facebook{
    background: transparent url('../../../assets/img/Imagen6.png') no-repeat center/20px;
}
.mensaje {
    font-family: telefonicaRegular;
    color: #757575;
    font-size: 14px;
    margin: 0px 14px;
    text-align: left;
    padding-bottom: 20px;
}
.terminos {
    margin: 0 16px;
}
.terminos a{
    color: #00a9e0;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
}
.txt1{
    display: table;
    float: left;
    padding: 20px;
    font-family: telefonicaRegular;
}
.txt1 div:first-child{
    font-size: 12px;
}
.txt1 div:last-child{
    font-weight: bold;
}
.txt1 div:last-child span{
    color:#757575;
    font-size: 14px;
}

button{
    border-radius: 14px;
    background-color: #5bc500;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 25%;
}
.total{
    position: absolute;
    box-shadow: 0px -7px #ddd;
    overflow: hidden;
    bottom: 0px;
    right: 0px;
    width: 100%
}
.contenido2{
    max-height: 310px;
    overflow-y: auto;
}
.error{
    color: #ff374a;
    font-size: 12px;
    font-family: telefonicaRegular;
    margin: 10px 0;
}
